*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #6a9bc3;
  font-size: 16px;
}

#container{
  width: 70%;
  height: 70%;
  padding: 2%;
  border-radius: 2%;
}

.devices{
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
  text-justify: center;
  padding: 4%;
}

#container, .devices{
  background-color: white;
}
.devices:hover{
  background-color: whitesmoke;
  border-radius: 3%;
}

h1, .description, .price{
  margin-top: 15%;
}

h1{
  font-family: "Roboto";
  text-transform: uppercase;
  color: #6a9bc3;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: .2rem;
}

img{
  height: 35%;
  width: 35%;
}

p{
  font-family: "sans-serif";
  font-weight: 400;
  color: darkgray;
}

.price{
  color: #6a9bc3;
  font-weight: 500;
  letter-spacing: .1rem;
}

span{
  font-size: 2rem;
}
sup{
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.8rem;
}